#rmd {
  position: absolute;
  top: 45px;
  bottom: 0;
  padding-right: 10px;
}

#knit_doc {
  position: absolute;
  top: 45px;
  bottom: 0;
  padding-left: 10px;
  overflow-y: scroll;
}

#my_open {
  position: absolute;
  left: -99em;
}

.hr_menu {
  margin: 0px;
}


